.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &__logo {
        font-size: 64px;
        text-align: center;
    }
    &__button-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    &__new-game,
    &__setting {
        font-size: 32px;
        color: currentcolor;
        border: 0;
        background: none;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }
    }
}
