.header {
    // color: #fff;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;

    &__logo {
        width: 240px;
        cursor: pointer;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__timer,
    &__counter,
    &__delimiter {
        font-size: 32px;
        font-weight: 600;
    }

    &__buttons-wrap {
        width: 240px;
        justify-content: end;
        display: flex;
        gap: 15px;
    }
    &__restart,
    &__main-menu {
        color: currentcolor;
        border: 0;
        background: none;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
            text-decoration: underline;
        }
    }
}
