@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    width: 100vw;
    height: 100vh;
    background: #232730;
    overflow: hidden;
}

@import './components/header/header';
@import './components/game-field/GameField';
@import './components/main-window/mainWindow';
@import './components/setting-component/setting'
